#meme-image-container {
  width: 500px;
  height: 500px;
  background-color: white;
  border: 1px solid black;
}

#meme-image {
  width: 500px;
  height: 500px;
}

#meme-text {
  text-align: center;
  position: absolute;
  top: 500px;
  width: 500px;
  color: white;
  font-size: 30px;
  text-shadow: 5px 5px 5px black;
}

#fire {
  background-color: red;
}

#water {
  background-color: blue;
}

#earth {
  background-color: green;
}

.meme {
  width: 125px;
  height: 150px;
}
